<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': appareil.status === 'allumé',
    'list-group-item-danger': appareil.status === 'éteint'
  }"
>
  <h4 [ngStyle]="{ color: getColor() }">
    Appareil : {{ appareil.name }} -- status : {{ getStatus() }}
  </h4>
  <div><a routerLink="{{ appareil.id }}">Détail</a></div>

  <button
    class="btn btn-success"
    (click)="onSwitchOn()"
    [disabled]="appareil.status === 'allumé'"
  >
    Allumer
  </button>

  <button
    class="btn btn-danger"
    (click)="onSwitchOff()"
    [disabled]="appareil.status === 'éteint'"
  >
    Eteindre
  </button>
</li>
